<div class="login text-center">
    <div class="order-cloud-image"  ></div>
    <section class="order-cloud text-center">



        <div id="login_box img-responsive">
            <div id="login_form" class="animated bounceIn text-center">
                <form class="form-signin" ng-submit="login()" name="login_form">
                    <div class="animated fadeIn text-center" >
                        <img  class="loginImageSize text-center img-responsive" style="margin: 0px;" src="http://www.four51.com/Themes/Custom/d0cd27e4-8096-40b6-aacc-4649fbe330a1/UMG/images/header.png"/>
                        <h3 class="text-center universalFont "><br />{{'WELCOME TO THE UNIVERSAL MUSIC GROUP STATIONERY STORE!' | r}}</h3>
                    </div>
                    <div class="col-lg-6 col-lg-offset-3 col-sm-6 col-sm-offset-3 text-center">



                        <br/>

                        <p id="451qa_msg_login" ng-show="loginMessage" ng-bind-html="loginMessage" class="alert alert-info"></p>

                        <div class="view-form-icon" ng-show="!showEmailHelp">
                            <div>
                                <label ng-show="credentials.Username">{{'Username' | r}}</label>
                                <input autofocus class="form-control" type="text" ng-model="credentials.Username" placeholder="{{'Username' | r}}" />
                                <i class="fa fa-user"></i>
                            </div>
                            <div ng-show="!PasswordSecurityException">
                                <label ng-show="credentials.Email">{{'Email' | r}}</label>
                                <input class="form-control" type="password" ng-model="credentials.Password" placeholder="{{'Password' | r}}" />
                                <i class="fa fa-lock"></i>
                            </div>
                        </div>
                        <div>
                            <div class="col-lg-12">
                                <p class="alert alert-info col-lg-12 " ng-show="showEmailHelp && (!EmailNotFoundException || !PasswordSecurityException)">
                                    If you have forgotten your {{'Username' | r}} and/or {{'Password' | r}}, please provide your email address and your user id and a link to change your password will be emailed to you
                                </p>
                            </div>


                            <div class="view-form-icon col-lg-12 " ng-show="showEmailHelp">
                                <div>
                                    <label ng-show="credentials.Email">{{'Email' | r}}</label>
                                    <input class="form-control" type="email" ng-model="credentials.Email" placeholder="{{'Email' | r}}" />
                                    <i class="fa fa-envelope"></i>
                                </div>
                                <br/>

                            </div>


                        </div>
                        <div>
                            <div class="view-form-icon" ng-show="PasswordSecurityException">
                                <div>
                                    <label ng-show="credentials.CurrentPassword">Current {{'Password' | r}}</label>
                                    <input class="form-control" name="current_password" type="password" ng-model="credentials.CurrentPassword" placeholder="Current {{'Password' | r}}" />
                                    <i class="fa fa-lock"></i>
                                </div>
                                <div>
                                    <label ng-show="credentials.NewPassword">New {{'Password' | r}}</label>
                                    <input class="form-control" name="new_password" type="password" ng-model="credentials.NewPassword" placeholder="New {{'Password' | r}}" />
                                    <i class="fa fa-lock"></i>
                                </div>
                                <div>
                                    <label ng-show="credentials.ConfirmPassword">Confirm {{'Password' | r}}</label>
                                    <input class="form-control" name="confirm_password" type="password" ng-model="credentials.ConfirmPassword"  placeholder="Confirm {{'Password' | r}}" ng-match="credentials.NewPassword" />
                                    <i class="fa fa-lock"></i>
                                    <inlineerror ng-show="login_form.confirm_password.$error.match" title="{{'Password' | r}} do not match!" />
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class="view-form-icon" ng-show="PasswordReset">
                                <div>
                                    <label ng-show="credentials.NewPassword">New {{'Password' | r}}</label>
                                    <input class="form-control" ng-required="PasswordReset" name="new_password" type="password" ng-model="credentials.NewPassword" placeholder="New {{'Password' | r}}" />
                                    <i class="fa fa-lock"></i>
                                </div>
                                <div>
                                    <label ng-show="credentials.ConfirmPassword">Confirm {{'Password' | r}}</label>
                                    <input class="form-control" ng-required="PasswordReset" name="confirm_password" type="password" ng-model="credentials.ConfirmPassword"  placeholder="Confirm {{'Password' | r}}" ng-match="credentials.NewPassword" />
                                    <i class="fa fa-lock"></i>
                                    <inlineerror ng-show="login_form.confirm_password.$error.match" title="{{'Password' | r}} do not match!" />
                                </div>
                            </div>
                        </div>
                        <input ng-disabled="login_form.$invalid" class="btn btn-large btn-primary btn-block" id="451_btn_login" type="submit" value="{{buttonText}}" /></br>
                        <btn class="btn btn-info col-lg-12 text-center" ng-show="showEmailHelp" ng-click="showEmailHelp = !showEmailHelp; buttonText = 'Logon'">
                            Return to logon
                        </btn></br>
                        <btn class="btn btn-info btn-block" ng-show="!showEmailHelp && !EmailNotFoundException && !PasswordSecurityException" ng-click="showEmailHelp = !showEmailHelp; buttonText = 'Submit'">
                            Need help logging on?
                        </btn>


                    </div>
                </form>
            </div>
        </div>
    </section>
</div>